@model IQueryable<AppUser>

<div class="text-center">
    <h6 class="display-6">Users</h6>
</div>

<hr/>

<div class="justify-content-end d-flex my-3">
    <a class="btn btn-secondary" asp-action="Create">Create User</a>
</div>
<table class="table table-sm table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td style="width: 126px">
                <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <form asp-action="Delete" method="post" onsubmit="return confirm('emin misiniz')">
                        <input type="hidden" name="Id" value="@item.Id"/>
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>